## ignore .DS_Store file.
# git rm --cached .DS_Store
*.DS_Store

# ignore all dev/ folders 
*dev/

# fleet standard ignores
.DS_Store
._*
.env
.env.*
__omp_shell(".env.example")
__omp_shell(".env.schema")
node_modules/
.venv/
venv/
__pycache__/
*.pyc
target/
.ipynb_checkpoints/
